* {
  box-sizing: border-box;
}

body {
  width: 1140px;
  margin: 24px auto;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  transition: 0.5s;
}

.gallery-image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery-item :hover {
  transform: scale(1.05);
}

.modal {
  background: rgba(46, 47, 66, 0.8);
}
